.comment-form {
    background-color: #9ecbd2;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 20px;
    position: relative;
    grid-row: 1;
    grid-column: 1/3;
}

.comment-form::before {
    background: url("/assets/images/illo-gears.svg") center no-repeat;
    content: '';
    height: 80px;
    position: absolute;
    right: 0;
    top: -80px;
    width: 154px;
}

.comment-form-actions > button {
    background-color: #fce87c;
    border: 0;
    border-radius: 10px;
    color: #6ba2aa;
    display: inline-block;
    font-weight: 700;
    line-height: 3;
    padding: 0 40px;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

.comment-form-actions > button:active,
.comment-form-actions > button:focus,
.comment-form-actions > button:hover {
    background-color: #fbe259;
}

.comment-form > label {
    color: #6ba2aa;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.comment-form-fields > input,
.comment-form-fields > textarea {
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
    resize: none;
}