.comment-box {
    display: grid;
}

.comment {
    margin-bottom: 40px;
}

.comment > img {
    border: 2px solid #45686D;
    border-radius: 50%;
    float: left;
    height: 64px;
    width: 64px;
    margin: 0 10px 0 0;
}

.comment-actions {
    color: #9ecbd2;
    font-size: 12px;
    text-transform: uppercase;
}

.comment-actions > a,
.comment-actions > span {
    margin-left: 15px;
}

.comment-actions a {
    color: #9ecbd2;
    text-decoration: underline;
    transition: 0.2s ease-in-out;
}

/*.comment-actions a:active,
.comment-actions > a:focus,*/
.comment-actions > a:hover {
    color: #fff;
}

.comment-confirm {
    display: inline-block;
    margin-left: 15px;
}

.comment-body {
    color: #fff;
}

.comment-count {
    color: #9ecbd2;
    grid-row: 3;
    grid-column: 1;
    align-items: center;
    align-self: center;
    margin: 0;
}

.comment-button {
    background-color: #45686D;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    float: right;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-transform: uppercase;
    outline: none;
    width: 145px;
}

.comment-button:active {
    background-color: #5C8288;
}

.comment-list {
    margin-top: 40px;
    grid-row: 4;
    grid-column: 1/3;
}

.comment-header {
    border-bottom: 2px solid #fff;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.comment-visibility-actions > button {
    background-color: #45686D;
    border: 0;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-weight: 700;
    line-height: 3;
    padding: 0 20px;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    grid-row: 3;
    grid-column: 2;
    text-align: right;
}

.comment-visibility-actions > button:active,
.comment-visibility-actions > button:focus,
.comment-visibility-actions > button:hover {
    background-color: #598186;
}